/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #031432;
  --secondary-color: #658cb8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: auto;
  /* font-family: "Ubuntu", sans-serif; */
  font-family: "Poppins", sans-serif;
  background-color: #f9fbfc;
}

/* -------color------------- */

/* h1, h2, h3, h4 {
  color: var(--primary-color);
}

h5, h6, p {
  color: #658cb8;
} */

button {
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
  box-shadow: 0px 8px 23px rgba(65, 132, 247, 0.24);
  border-radius: 100px;
}

/* -------font size----------- */

/* big title banner text */
h1 {
  font-size: 40px;
}
/* section heading  */
h2 {
  font-size: 36px;
}

/* all title */
h3 {
  font-size: 32px;
}

/* all card heading title */
h4 {
  font-size: 28px;
}

/*  */
h5 {
  font-size: 24px;
}

/* paragraph, section sub-heading  */
h6 {
  font-size: 20px;
}

/* card paragraph or details text */
p {
  font-size: 16px;
}

/* card initial style */
.card {
  background: #ffffff;
  box-shadow: 0px 24px 32px -3px rgba(3, 9, 50, 0.04);
  border-radius: 24px;
}

.primary-gradient {
  background: linear-gradient(96.14deg, #3a8ef6 -10.84%, #6f3afa 196.74%);
}
